<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../basic-card/basic-card.html">

<polymer-element name="p-item" attributes="item onImageLoaded">
  <template>

    <link rel="stylesheet" href="/css/item.css">

    <style>
      :host {
        display: inline-block;
      }
    </style>

    <basic-card class="item">
      <a href='{{item.affiliateURL}}'>
        <div class='img'>
          <template if="{{item.imageURL}}">
            <img src='{{item.imageURL.small}}'>
          </template>
          <template if="{{!item.imageURL}}">
            <img src='../../images/no-image.jpg'>
          </template>
        </div>
        <div class='info'>
          <div class='title'>{{item.title}}</div>
          <div class='keyword'>
            <template if="{{!item.iteminfo.keyword.length}}">
              <div>{{item.iteminfo.keyword.name}}</div>
            </template>
            <template repeat="{{k in item.iteminfo.keyword}}">
              <div>{{k.name}}</div>
            </template>
          </div>
        </div>
      </a>
    </basic-card>

  </template>
  <script>
    Polymer({
      ready: function() { },
      itemChanged: function(oldVal, newVal) {
        var image = new Image();
        if(newVal.imageURL) {
          image.src = newVal.imageURL.small;
        } else {
          image.src = "../../images/no-image.jpg";
        }
        image.addEventListener("load", this.onImageLoaded, false);
      },
      onImageLoaded: function() { }
    });
  </script>
</polymer-element>
