extends layout

block content

  != css('list')
  != js('jquery.masonry.min')
  != js('jquery.imagesloaded.min')
  != js('baseMasonry')

  #wrap

    section#item-container.container

      for item in items
        a(href=item.affiliateURL)
          div.item
            if item.imageURL
              div.img
                img(src=item.imageURL.small)
            div.info
              div.title= item.title
              if item.iteminfo.keyword && item.iteminfo.keyword.length
                div.keyword
                  for obj in item.iteminfo.keyword
                    if obj.name
                      div= obj.name

