extends layout

block content

  #wrap

    div.page-header
      p.page-title DMM search
      p#dmmcredit.credit
        <a href="https://affiliate.dmm.com/api/"><img src="http://pics.dmm.com/af/web_service/com_135_17.gif" width="135" height="17" alt="WEB SERVICE BY DMM.com" /></a>

      hr#header-hr

    section.container-fluid

      div.row-fluid

        div.span3

          form#search(action="/search", method="POST", name="search")
            input#site(type="hidden", name="search[site]", value=site)
            select#service.select-block(name="search[service]")
            select#floor.select-block(name="search[floor]")
            div.form-search
              div.input-append
                input#keyword.search-query(type="text", name="search[keyword]", placeholder="全て")
                button#searchButton.btn(type="submit")
                  i.icon-search.icon-white

          ul#social_box
            li#toTop
              a(href="#wrap")
                img(src='/images/goTop.png')
            li
              div#facebook
            li
              div#twitter
            li
              div#hatena
            li
              div#google

        div.span9
          div#item-container
          div#item-loading
            img#loading(src='/images/loader.gif', style='display: none')

  != js('search-ui')
  != js('search')
  != js('social-button')
