extends layout

block content

  != js('search')

  #wrap

    form(action="/list", method="POST", name="search")
      select#service(name="search[service]")
      select#floor(name="search[floor]")
      div.form-search
        div.input-append
          input.input-large.search-query(type="text", name="search[keyword]")
          button.btn(type="submit") Search

