extends layout

block content

  #wrap

    div.page-header
      p.page-title DMM search
      p#dmmcredit.credit
        <a href="https://affiliate.dmm.com/api/"><img src="http://pics.dmm.com/af/web_service/com_135_17.gif" width="135" height="17" alt="WEB SERVICE BY DMM.com" /></a>

    section.container-fluid

      div.row-fluid

        div.span3
          form#search(action="/search", method="POST", name="search")
            input#site(type="checkbox", name="search[site]", value='DMM.co.jp', data-toggle="switch")
            select#service.select-block(name="search[service]")
            select#floor.select-block(name="search[floor]")
            div.form-search
              div.input-append
                input#keyword.search-query(type="text", name="search[keyword]", placeholder="全て")
                button#searchButton.btn(type="submit")
                  i.icon-search.icon-white

          ul#social_box
            li#toTop
              a(href="#wrap")
                img(src='/images/goTop.png')
            li
              // Facebook
              <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fdmm-search.herokuapp.com%2F&amp;layout=box_count&amp;show_faces=false&amp;width=90&amp;action=like&amp;colorscheme=light&amp;height=62" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:62px;" allowTransparency="true"></iframe>
            li
              // はてなブックマーク
              <a href="http://b.hatena.ne.jp/entry/http%3A%2F%2Fdmm-search.herokuapp.com%2F" class="hatena-bookmark-button" data-hatena-bookmark-title="DMM%20search" data-hatena-bookmark-layout="vertical" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
            li
              // Google +1
              <g:plusone size="tall" href="http://dmm-search.herokuapp.com/"></g:plusone><script type="text/javascript">(function(){var po=document.createElement("script");po.type="text/javascript";po.async=true;po.src="https://apis.google.com/js/plusone.js";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(po,s);})();</script>
            li
              // Twitter
              <a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-lang="ja">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

        div.span9
          div#item-container
          div#item-loading
            img#loading(src='/images/loader.gif', style='display: none')

  != js('search-ui')
  != js('search')
