extends layout

block content

  form(action="/list", method="POST", name="search")
    select(name="search[service]")
      option(value="")              全ての商品
      option(value="lod")           AKB48グループ
      option(value="digital")       動画
      option(value="monthly")       月額動画
      option(value="digital_book")  電子書籍
      option(value="pcsoft")        PCソフト
      option(value="mono")          通販
      option(value="rental")        DVD/CDレンタル
      option(value="nandemo")       いろいろレンタル
    div.form-search
      div.input-append
        input.input-large.search-query(type="text", name="search[keyword]")
        button.btn(type="submit") Search
