link(rel="import" href="../../components/core-header-panel/core-header-panel.html")
link(rel="import" href="../../components/paper-icon-button/paper-icon-button.html")
link(rel="import" href="../p-select/p-select.html")
link(rel="import" href="../p-item/p-item.html")
link(rel="import" href="../p-social-bar/p-social-bar.html")

polymer-element(name="search-result")

  template

    link(rel="stylesheet" href="search-result.css")

    core-header-panel#panel(fit, on-scroll="{{onPanelScroll}}")

      section.page-header.core-header(horizontal layout end)
        p.page-title
          span.title {{title}}
        p.version(flex)
          span ver. {{version}}
        p.dmm-credit
          <a href="https://affiliate.dmm.com/api/"><img src="http://pics.dmm.com/af/web_service/com_135_17.gif" width="135" height="17" alt="WEB SERVICE BY DMM.com" /></a>

        div.search-field(horizontal center-justified layout)
          form#search(action="/search", method="POST", name="search", horizontal, layout, center)
            p-select#service.service(on-selected="{{changeFloor}}")
            p-select#floor.floor
            input#keyword.search-query(type="text", name="search[keyword]", placeholder="keyword...")
            paper-icon-button#searchButton.search-button.mini(type="submit", icon="search", on-click="{{startSearch}}")

      section.content.search-result(fit)

        p-social-bar#socialBar.side

        div.main
          div.item-container#itemContainer
          div.loading-container
            img#loading.loading(src='/images/loader.gif', style='display: none')
            div#loadComplete.load-complete(style='display: none')
              p done

  script.
    searchResult()
