@import 'nib'

*
  text-decoration: none


.item
  width: 147px
  background-color: #fefefe
  border-radius: 3px
  float: left
  position: relative
  @media screen and (min-width: 479px)
    margin: 8px
  @media screen and (max-width: 479px)
    margin: 5px 0 5px 0
    width: 280px

  .img
    text-align: center
    @media screen and (max-width: 479px)
      display: inline-block
      width: 147px
      vertical-align: middle

  .info
    margin: 9px 10px 9px 10px
    @media screen and (max-width: 479px)
      display: inline-block
      vertical-align: middle
      width: 115px
      margin: 6px 0px 6px 5px

    .title
      text-shadow: 0 1px #fff
      color: #555
      font-size: 11px

    .keyword
      padding: 8px 0px 1px 4px
      color: #aaa
      font-size: 9px

  img
    width: 100%
    height: auto

.invisible
  opacity: 0

