
.item
  width: 147px
  margin: 5px
  background-color: #fefefe
  box-shadow: 0 1px 3px 0 rgba(34, 25, 25, 0.4)
  border-radius: 3px
  float: left

  .img
    text-align: center

  .info
    margin: 9px 10px 9px 10px

    .title
      text-shadow: 0 1px #fff
      color: #555
      font-size: 11px

    .keyword
      padding: 8px 0px 1px 4px
      color: #aaa
      font-size: 9px
