html
  height: 100%

body
  font: "Lucida Grande", Helvetica, Arial, sans-serif
  background-image: url(../img/hemp-grey.png)
  background-repeat: repeat
  height: 100%

#wrap
  width: 100%
  position: relative
  height: auto !important
  height: 100%
  min-height: 100%

.item
  width: 200px
  margin: 5px
  background-color: #fefefe
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4)
  padding: 10px 10px 0

  @media (max-width: 767px)
    width: 200px
    margin: 5px 0px 5px 0px

  .img
    text-align: center

  .title
    text-shadow: 0 1px #fff
    padding-top: 3px

