@import 'nib';

.social-box
  @media screen and (min-width: 768px)
    width: 72px
    bottom: 5px
    margin-left: 5px
    padding: 0px 4px 0px 5px
    border-radius: 7px
    list-style-type: none
    text-align: center
    background: #f0f0f0
    li
      padding-bottom: 5px

  @media screen and (max-width: 767px)
    list-style-type: none
    margin: 10px 0px 30px 5px
    li
      display: inline-block
      height: 20px

    #facebook
      width: 110px
    #twitter
      width: 100px
    #google
      width: 70px
    #hatena
      width: 60px

li.to-top
  padding : 8px 0px 5px 0px
  @media screen and (max-width: 767px)
    display: none
  paper-fab
    background: #fc6c6c

.fixed
  position: fixed
