
#wrap

  .page-title
    font-size: 30px
    font-weight: 100
    float: left

  .page-header
    padding-left: 10px
    padding-bottom: 7px
    margin-top: 4px

  .switch
    margin-bottom: 6px

  .input-append
    display: block
    padding-right: 66px

  .credit
    text-align: right
    padding: 15px 6px 0 0
    margin-bottom: 0px

  a
    text-decoration: none

  form
    margin-bottom: 9px

  #loading
   text-align: center
   margin: 0 auto
   display: block
   padding: 25px

#social_box

  @media screen and (min-width: 768px)
    background: #f0f0f0
    width: 71px
    bottom: 20px
    margin-left: 0px
    padding: 0px 4px 0px 4px
    border-radius: 7px
    list-style-type: none
    position: fixed
    text-align: center
    li
      padding-bottom: 5px

  @media screen and (max-width: 767px)
    list-style-type: none
    margin-left: 0px
    li
      display: inline-block
      height: 20px

    #facebook
      width: 110px
    #twitter
      width: 100px
    #google
      width: 70px
    #hatena
      width: 60px

li#toTop
  margin: 8px 0px 5px 0px
  @media screen and (max-width: 767px)
    display: none
