
#wrap

  .page-title
    font-size: 30px
    font-weight: 100
    float: left

  .page-header
    padding-left: 10px

  .switch
    margin-bottom: 6px

  .input-append
    display: block
    padding-right: 66px

  .credit
    text-align: right
    padding: 15px 6px 0 0
    margin-bottom: 0px

  a
    text-decoration: none

  form
    margin-bottom: 9px

  #loading
   text-align: center
   margin: 0 auto
   display: block
   padding: 25px

#social_box
  background: #fff
  width: 60px
  margin-left: 0px
  text-align: center
  bottom: 20px
  list-style-type: none
  position: fixed

  li
    padding-bottom: 5px

