
#wrap

  h1
    font-weight: 100

  .switch
    margin-bottom: 6px

  a
    text-decoration: none

  .input-append
    display: block
    padding-right: 66px

  #loading
   text-align: center
   margin: 0 auto
   display: block
   padding: 25px

#social_box
  background: #fff
  width: 60px
  margin-left: 0px
  text-align: center
  bottom: 20px
  list-style-type: none
  position: fixed

  li
    padding-bottom: 5px

