@font-face{
  font-family: 'WebSymbolsLigaRegular';
    src: url('/font/websymbolsligaregular.eot');
    src: url('/font/websymbolsligaregular.eot?#iefix') format('embedded-opentype'),
      url('/font/websymbolsligaregular.woff') format('woff'),
      url('/font/websymbolsligaregular.ttf') format('truetype'),
      url('/font/websymbolsligaregular.svg#WebSymbolsRegular') format('svg');
}
